<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>demo2</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Fasthand-Regular.ttf</string>
		<string>MartianMono.ttf</string>
		<string>MartianMono-Bold.ttf</string>
		<string>MartianMono-ExtraBold.ttf</string>
		<string>MartianMono-ExtraLight.ttf</string>
		<string>MartianMono-Light.ttf</string>
		<string>MartianMono-Medium.ttf</string>
		<string>MartianMono-Regular.ttf</string>
		<string>MartianMono-SemiBold.ttf</string>
		<string>MartianMono-Thin.ttf</string>
		<string>MartianMono_Condensed-Bold.ttf</string>
		<string>MartianMono_Condensed-ExtraBold.ttf</string>
		<string>MartianMono_Condensed-ExtraLight.ttf</string>
		<string>MartianMono_Condensed-Light.ttf</string>
		<string>MartianMono_Condensed-Medium.ttf</string>
		<string>MartianMono_Condensed-Regular.ttf</string>
		<string>MartianMono_Condensed-SemiBold.ttf</string>
		<string>MartianMono_Condensed-Thin.ttf</string>
		<string>MartianMono_SemiCondensed-Bold.ttf</string>
		<string>MartianMono_SemiCondensed-ExtraBold.ttf</string>
		<string>MartianMono_SemiCondensed-ExtraLight.ttf</string>
		<string>MartianMono_SemiCondensed-Light.ttf</string>
		<string>MartianMono_SemiCondensed-Medium.ttf</string>
		<string>MartianMono_SemiCondensed-Regular.ttf</string>
		<string>MartianMono_SemiCondensed-SemiBold.ttf</string>
		<string>MartianMono_SemiCondensed-Thin.ttf</string>
		<string>MartianMono_SemiExpanded-Bold.ttf</string>
		<string>MartianMono_SemiExpanded-ExtraBold.ttf</string>
		<string>MartianMono_SemiExpanded-ExtraLight.ttf</string>
		<string>MartianMono_SemiExpanded-Light.ttf</string>
		<string>MartianMono_SemiExpanded-Medium.ttf</string>
		<string>MartianMono_SemiExpanded-Regular.ttf</string>
		<string>MartianMono_SemiExpanded-SemiBold.ttf</string>
		<string>MartianMono_SemiExpanded-Thin.ttf</string>
	</array>
</dict>
</plist>
